main form .links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

main form .links-container span {
    font-size: 0.8em;
    font-weight: 600;
}

main form .links-container aside {
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-top: 5%;
    width: 50%;

}
main form .links-container aside i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    background-color: #fff;
    padding: 8px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    color: #fff;
}
main form .links-container aside .google {
    color: #e34133;
}
main form .links-container aside .google:hover{
    background-color: #e34133;;
    color: #fff;
}

main form .links-container aside .linkedin {
    color: #0a66c2;
}
main form .links-container aside .linkedin:hover{
    background-color: #0a66c2;;
    color: #fff;
}

main form .links-container aside .facebook {
    color: #14a0f9;
}
main form .links-container aside .facebook:hover{
    background-color: #14a0f9;;
    color: #fff;
}