main form .password-infos {
    width: 90%;
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main form .password-infos a{
    transition: 0.2s ease-in-out;
}

main form .password-infos a:hover {
    color: #18acfe;
}

